
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles
# exclude public/images but keep public/images/uploads dir excluding files
/public/images/*
!/public/images/uploads
/public/images/uploads/*
!/public/images/uploads/.gitkeep
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

node_modules/

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
.phpunit.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/coverage
###< phpunit/phpunit ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

!.gitkeep
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> vincentlanglet/twig-cs-fixer ###
/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###
