<p>
    Denne eventformular er stillet til r&aring;dighed af Aarhus Kommune. F&oslash;r du kan indtaste dine
    arrangementer i formularen, skal du f&oslash;rst l&aelig;se og godkende brugeraftalen. Den udg&oslash;r
    en juridisk bindende aftale, som indeholder vigtige oplysninger om formularen, og hvordan du m&aring;
    bruge den. Brugeraftalen kan med j&aelig;vne mellemrum &aelig;ndres, s&aring; det er vigtigt, at du
    genneml&aelig;ser den ofte.&nbsp;&nbsp;
</p>

<p class="lead">
    <a href="https://arrangoer.aarhus.dk/markedsfoering/det-sker-i-aarhus-eventdatabasen/brugeraftale/" target="_blank">
        <i class="fas fa-external-link-square-alt"></i> L&aelig;s brugeraftalen her</a>
</p>

<p>
    Ved at bruge denne formular accepterer du at v&aelig;re forpligtet af samt overholde alle
    vilk&aring;rene i brugeraftalen.
</p>
